# Arduino / ESP32
.secrets.h
secrets.h
esp32/level_sensor/.build/
esp32/level_sensor/build/
build/
*.elf
*.map
*.bin

# macOS
.DS_Store

# VS Code
.vscode/

# Build / temp
*.tmp
*.log

# Adobe files
*.ai
*.psd